{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FOSSEE</title>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/postTopic.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/topicDetails.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}" />
  </head>
  <body>
   <div class="container">
    {% if request.session.username and request.session.uid %}
    <div id='baseHeader' class='page-header'><a href="{% url 'postTopic' %}">Home</a><a href='/logout'>LogOut</a></div>
    {% endif %}
    {% block content %}
    {% endblock %}
   </div>
  </body>
</html>
