{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
{{ static }}
{% block content %}
<h1>Welcome to the Discussion Form!!!!</h1>
{% if request.session.username and request.session.uid %}
    Welcome {{ request.session.username }}!!!
{% else %}
    <a href = "{% url 'login' %}">Login</a><br/>
    <a href = "{% url 'registerUser' %}">Register</a><br/>
    <a href = "{% url 'viewTopics' %}">Topics</a>
{% endif %}
{% endblock %}
