{% extends 'base.html' %}
{% block content %}
    <h1>Post The Topic</h1>
    <form method = 'POST' class='post-form'>{% csrf_token %}
        {{ form.as_p }}
    <input type='submit' name='sub' value='Post Topic' />
    </form>
    <hr/>
    Recent Topics:<br/>
    {% for topic in topics %}
        <h1><a href = "/topicDetails/{{ topic.id }}">{{ topic.topicText }}</a></h1><br/>
        <h3>{{ topic.user.username }}</h3><br/>
        {{ topic.timeStamp }}
        <hr/>
    {% endfor %}
{% endblock %}
