{% extends 'base.html' %}
{% block content %}
<div class='postDetailsSec'>
<h1 id='topicHeading'>{{ topic.topicText }}</h1>
<p>{{ topic.timeStamp }}</p>
<p>Post Comment here:</p>
<form method = 'POST' class='topicDetailSec' action = "/postComment/{{topic.id}}/comment">{% csrf_token %}
    {{ form.as_p }}
    <input type='submit' name='sub' value='Post Comment'/>
</form>
</div>
<h1>Comments:</h1>
<hr/>
{% for comment in comments %}
  {% if comment.topic.id == topic.id %}
    <h1>{{ comment.commentText }}</h1>
    <span id='byClass'>by:</span>{{ comment.user.username }}<br/>
    {{ comment.timeStamp }}
    <hr/>
  {% endif %}
{% endfor %}
{% endblock %}
