body{
  font-family: sans-serif;
}

a{
  text-decoration: none;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
}

.page-header a{
  margin: 5px;
  font-family:sans-serif;
  font-size: 15px;
}
